/* Header Styles */
header{
    margin-bottom: 10px;
}

header .links{
    display: flex;
    width: 100%;
    justify-content: center;
}

header a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

/* Home Page Styles */
.welcome-page header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 0;
}

.welcome-page header img{
    width: 300px;
    margin: 0 auto;
}

/* Character Page Styles */
.character-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Character Page Form Styles */
.character-list form{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02afc5;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.character-list form input{
    height: 30px;
    margin-left: 10px;
    width: 200px;
}

/* Character & Location Page Card Styles */
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location-card{
    width: 200px;
}

.character-card, .location-card{
    margin: 20px;
    border-radius: 10px;
    background-color: #a9f3fd;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.character-card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

